
// make it font-family default
$font-family: 'DM Sans', 'Noto Sans JP', sans-serif;
$font-size: 16px;
$font-weight: 400;
$line-height: 1.5;
$color: #333;
$color-link: #007bff;
$color-light: #666;
$color-lighter: #aaa;
$color-lightest: #eee;
$color-highlight: rgb(247, 255, 177);
$color-highlight2: rgb(204, 255, 226);
$color-highlight3: rgb(255, 204, 204);
$border-radius: 11px;
$border: 1px solid #c1c0c0;


// mixins
@mixin font($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin font-size($font-size) {
  font-size: $font-size;
}

@mixin line-height($line-height) {
  line-height: $line-height;
}

@mixin font-weight($font-weight) {
  font-weight: $font-weight;
}

@mixin color($color) {
  color: $color;
}

@mixin color-highlight($color-highlight) {
  color: $color-highlight;
}

@mixin color-highlight2($color-highlight2) {
  color: $color-highlight2;
}

@mixin color-highlight3($color-highlight3) {
  color: $color-highlight3;
}

@mixin color-light($color-light) {
  color: $color-light;
}

@mixin color-lighter($color-lighter) {
  color: $color-lighter;
}

@mixin color-lightest($color-lightest) {
  color: $color-lightest;
}

@mixin font-family($font-family) {
  font-family: $font-family;
}

@mixin border-radius($border-radius) {
  border-radius: $border-radius;
}

@mixin border($border) {
  border: $border;
}

@mixin border-top($border) {
  border-top: $border;
}

@mixin border-bottom($border) {
  border-bottom: $border;
}

@mixin border-left($border) {
  border-left: $border;
}

@mixin border-right($border) {
  border-right: $border;
}

@mixin border-color($color) {
  border-color: $color;
}

@mixin border-top-color($color) {
  border-top-color: $color;
}

@mixin side-pad($padding) {
  padding-left: $padding;
  padding-right: $padding;
}